.eventcard {
  width: 50em;
  padding: 0;
  margin: 0;
  text-align: left;
  border-style: solid;
  border-radius: 0px;
  border-width: 0;
  margin-top: 75px;
  background-color: transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 250ms ease-in-out;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.eventcard:hover {
  transform: scale(1.015);
}
.thumbnail {
  object-fit: cover;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(155, 155, 184, 0.6)
    ),
    url("../../assets/hurricanebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.content {
  border-width: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.85);
}
.eventname {
  border-radius: 10px 10px 0 0;
  border-width: 0;
  vertical-align: top;
  margin: 0;
  padding-left: 5px;
  font-size: 45px;
  background-color: rgb(175, 175, 175);
  font-weight: 600;
}
.summary {
  font-size: 25px;
}
