@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --clr-1: rgb(178, 49, 253);
  --clr-2: rgba(0, 0, 255);
}
.eventcard {
  max-width: 50rem;
  border-color: transparent;
  padding: 0;
  margin-top: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  border-style: solid;
  margin-top: 38px;
  margin-bottom: 38px;
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  transition: all 250ms ease-in-out;
  border-width: 0;
  box-sizing: border-box;
  box-shadow: 2px 4px 12px #00000088;
}
.eventcard:hover {
  transform: translateY(-5px);
}
.eventcard:hover::before {
  opacity: 1;
}
.eventcard:hover::after {
  opacity: 1;
}
.eventcard::before,
.eventcard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -5px;
  border-radius: 10px;
  animation: rotation 10s linear infinite;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-1)
  );
  opacity: 0;
  transition: all 250ms ease-in-out;
}
.eventcard::after {
  filter: blur(0.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
.thumbnail {
  margin: 0;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(155, 155, 184, 0.6)
    ),
    url("../../assets/hurricanebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-width: 0;
  padding: 0;
}
.content {
  margin: 0;
  border-width: 0;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: rgba(245, 245, 245, 0.85);
}
.eventname {
  display: flex;
  border-radius: 5px 5px 0 0;
  padding: 0;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  border-width: 0;
}
.summary {
  font-size: 25px;
}
.icon {
  margin-top: 10px;
  margin: 1px;
  background-position: center;
  background-size: cover;
  text-align: center;
  object-fit: contain;
}
